<H1>Book-Details</H1>

<form [formGroup]="Form">
<label>Name of the Book:</label>
<input type="text" id="name" placeholder="Enter the name of book" formControlName="name">
<br>
<label>Name of the Author:</label>
<input type="text" id="author" placeholder="Enter the name of Author" formControlName="author">
<br>
<label>Publication:</label>
<input type="text" id="publication" placeholder="Enter the name of Publication" formControlName="publication">
<br>
<label>Price of Book:</label>
<input type="text" id="price" placeholder="Enter the Price" formControlName="price">
<br>
<label>Genre:</label>
<input type="text" id="genre" placeholder="Enter the Genre" formControlName="genre">
<br>
<label>Date:</label>
<input type="date" id="date" placeholder="Enter the name of book" formControlName="date">
<br>
<label>Country:</label>
<select formControlName="country">
  <option value="">India</option>
  <option value="">India</option>
  <option value="">India</option>
  <option value="">India</option>
</select>
<br>
<label>Description:</label>
<input type="text" id="description"  formControlName="description">
<br>
<button (click)="save()">Save</button>
</form>